<%- include("partials/headerLoggedIn") -%>

    <h1>Home</h1>
    <div class="div-border"></div>
    <p class="home-starting-content" >Welcome to the home page! Here you'll find the posts made by yourself and other users! Click the 'New Post' button to compose a new post!</p>

    <h1>Posts</h1>
    <div class="div-border"></div>

  <%  posts.forEach(post => { %>
    <div class="post-content">
      <h2><a class="post-title" href="/posts/<%=post._id%>"><%= post.title %></a></h2>
      <p>
        <!--Post content short version-->
        <%= post.contentShort %>
        <!-- Read more link -->
        <a href="/posts/<%= post._id %>">Read More</a>
      </p>
      <p class="username" >By: <b><%= post.user %> </b></p>
      <p class="post-date">Posted: <%=post.date%></p>
    </div>


<%  }); %>

<div class="position-relative">
  <form class="" action="/btn" method="post">
    <button id="pos-btn" class="btn btn-secondary compose-btn fixed-bottom" type="submit" >New Post</button>
  </form>
</div>


<%- include("partials/footer") -%>
